[submodule "lib/commonlibf4"]
	path = lib/commonlibf4
	url = https://github.com/Dear-Modding-FO4/commonlibf4
[submodule "lib/vmaware"]
	path = lib/vmaware
	url = https://github.com/kernelwernel/VMAware
